.App {
  text-align: center;
}

.math-expression {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container input[type="text"]{
  --size: 2rem;
  appearance: none;
  width: var(--size);
  height: var(--size);
  text-align: center;
  border: 1.5px solid black;
  border-radius: 5px;
}

.operations {
  display: flex;
  justify-content: center;
  margin-block: 2rem;
}

.operations input[type="radio"]{
  appearance: none;
  display: none;
}

.operations label {
  --size: 2rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--size);
  height: var(--size);
  line-height: 1em;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  /* border: 1.5px solid black; */
  box-shadow: 2px 2px 5px hsla(0, 0%, 100%, 0.5);
  border-radius: 50%;
  box-sizing: border-box;
  /* overflow: auto; */
}

.operations label::after {
  content: attr(for);
}

.operations label:not(:last-of-type){
  margin-right: 0.5em;
}

.operation-symbol {
  margin: 0 5px;
}